body{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 70%;
	margin: auto;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
#wrapper:after{
	content: '';
	display: block;
	clear: both;
}

section{
	background-color: #bdc3c7;
	width: 100%;
	float: left;
}
section ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
section li{
	float: left;
	padding: 15px;
}
section li:nth-child(2){
	float: right;
}

header{
	width: 100%;
	float: left;
	text-align: center;
}

nav{
	width: 100%;
background-color: #7f8c8d;
	float: left;
	
}
nav ul{
	padding: 0;
	margin: 0;
		display: flex;
	list-style-type: none;
}
nav ul li{
	float: left;
	flex-grow: 1;
	text-align: center;
	padding: 15px;
	border-right: 1px solid #eee;
}
nav ul li:last-child{
	border-right: 0px solid #eee;
}
main{
	margin: 0px auto;

}

main h2{
	margin-top: 0px;
	text-align: center;
	font-family: arial;
	color: red;
}
main h3{
text-align: center;
	font-family: arial;
}
main b{
	color: red;
}

main ul{
	list-style-type: none;
	width: 100%;

}
main li{
	padding: 10px 5px;
	text-align: left;
		width: 30%;
		float: left;
border-bottom: 2px dashed #eee;
}



main:after{
	content: '';
	display: block;
	clear: both;
}

main p{
	padding: 10px;
}

main p:nth-child(odd){
	background-color: #eee;
}

article table{
	width: 100%;
	margin: auto;
	text-align: center;
}

table thead {
	background-color: #009688;
	padding: 10px;
}
table tr:nth-child(even){
	background-color: #9E9E9E;
}
table tr td{
	padding: 10px;
}

footer{
	width: 100%;
	float: left;
	background-color: #7f8c8d;

}
footer p{

	padding: 5px 25px;
}
#salary{
	width: 100%;
	float: left;
	background-color: white;
	padding-bottom: 15px;

}

#salary table{
	width: 100%;
}
#salary table th{
	padding: 10px;
}
#salary table thead th{
	background-color: #555;
}

#salary table tr:nth-child(odd){
	background-color: white;
}

#salary:after{
	clear: both;
	content: '';
	display: block;
}